@font-face {
  font-family: "Monocraft";
  src: url("resources/Monocraft.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cascadia";
  src: url("resources/CascadiaCode.woff2") format("woff2");
  font-display: swap;
}

html {
  scroll-behavior: unset;
  --terminal-font: 350 0.5rem "Monocraft", monospace;
  --classic-font: 350 0.5rem "Cascadia";
  font-size: 1cm;
}

body {
  scroll-behavior: unset;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  height: 100vh;
}

#terminal {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: content;
  flex-shrink: 0;

  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;

  background-color: black;
  color: white;

  font: var(--terminal-font);
}

#terminal #log {
  margin: 0.3rem;
  margin-bottom: 0.1rem;
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column-reverse;
  /* font-size: 1rem; */
}

#terminal #log>p {
  padding: 0.2em;
  color: white;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  background-color: #3338;
  line-height: 1em;
  line-break: auto;
}

#terminal #log>p:nth-child(even) {
  background-color: #4448;
}

#terminal #log>p.error:nth-child(even) {
  background-color: red;
}

#terminal #log>p.warn {
  background-color: rgb(200, 200, 0);
  color: black
}

#terminal #log>p.warn:nth-child(even) {
  background-color: rgb(255, 255, 0);
  color: black
}

#terminal #log>p.error {
  background-color: darkred;
}

#terminal #log>p.debug {
  background-color: green;
  color: black;
}

#terminal #log>p.debug:nth-child(even) {
  background-color: lime;
  color: black;
}

#terminal #log>p.mus {
  background-color: lightblue;
  color: black;
}

#terminal #log>p.mus:nth-child(even) {
  background-color: lightskyblue;
  color: black;
}

#terminal #log>p.break {
  background-color: black;
}

#terminal #log>p.italic {
  font-style: italic;
}

#terminal #log>p.bold {
  font-weight: bold;
}

#terminal #log>p.x2size {
  font-size: 200%
}

#terminal #log>p.x3size {
  font-size: 300%
}

#terminal #log>p.classic {
  color: green;
  background-color: black;
  font: var(--classic-font);
}

#terminal #input {
  margin: 0.3rem;
  padding: 0.2em;
  margin-top: 0.1rem;
  height: 1em;
  flex-grow: 0;
  background-color: black;
  outline-color: white;
  border: none;
  outline: none;
  caret-color: white;
  color: white;
  font: var(--terminal-font);
  font-size: 1.5em;
}